[id^="side-wrapper "] {
	position: fixed;
	z-index: 1032;
	transition: all 0.5s ease-in-out;
}

[id^="side-wrapper "].active {
	overflow: scroll;
}

[id^="side-wrapper "].left {
	left: -100%;
}

[id^="side-wrapper "].top {
	top: -100%;
	max-height: 75%;
}

[id^="side-wrapper "].right {
	right: -100%;
}

[id^="side-wrapper "].bottom {
	bottom: -100%;
}

[id^="side-wrapper "].active.left {
	left: 0%;
}

[id^="side-wrapper "].active.top {
	top: 0%;
	position: fixed !important;
}

[id^="side-wrapper "].active.right {
	right: 0%;
}

[id^="side-wrapper "].active.bottom {
	bottom: 0%;
	position: fixed !important;
}

#searchImg {
	width: 20% !important;
}